<!-- Sección de accesos -->
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <div class="card" >
                <img src="Imagenes/2024-ciberseguridad-tendencias-portada-1080x675.png" class="card-img-top" alt="Noticias">
                <div class="card-body text-center">
                    <h5 class="card-title">Noticias</h5>
                    <a href="noticias.html" class="btn btn-primary">Ir a Noticias</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <img src="Imagenes/dantia-productos-ciberseguridad.png" class="card-img-top" alt="Compras">
                <div class="card-body text-center">
                    <h5 class="card-title">Compras</h5>
                    <a href="productos.html" class="btn btn-primary">Ir a Compras</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <img src="Imagenes/El-Registro-obligatorio-del-usuario-en-tu-sitio-web-y-la-agencia-de-protección-de-datos.jpg" class="card-img-top" alt="Registro">
                <div class="card-body text-center">
                    <h5 class="card-title">Registro</h5>
                    <a href="registro.html" class="btn btn-primary">Ir a Registro</a>
                </div>
            </div>
        </div>
    </div>
</div>