<section class="container mt-4 d-flex justify-content-center"><!-- Usamos un carrusel de boostrap y lo personalizamos con unas imágenes -->
    <section id="carouselExample" class="carousel slide ancho_carrusel" data-bs-ride="carousel" >
        <section class="carousel-inner">
            <article class="carousel-item active">
                <img src="Imagenes/Cibereguridad.jpg" class="d-block w-100" alt="Imagen 1">
            </article>
            <article class="carousel-item">
                <img src="Imagenes/ciberseguridad-en-la-empresa.jpg.webp" class="d-block w-100" alt="Imagen 2">
            </article>
            <article class="carousel-item">
                <img src="Imagenes/Ciberseguridad.webp" class="d-block w-100" alt="Imagen 3">
            </article>
        </section>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </section>
</section>